.main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
}

.heroTextContainer {
  max-width: 700px;
  padding: 220px 60px;
}

.heroText {
  font-size: 68px;
  letter-spacing: -3px;
  line-height: 1.1;
  margin: 0;
}

.highlight {
  color: var(--violet);
}

.heroSubtitle {
  color: var(--grey);
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1.5;
}

.btnSecondary {
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1);
  color: var(--grey);
  font-family: var(--font-sans);
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: -1px;
  margin: 10px 10px 10px 0;
  border: none;
  padding: 0 3.5rem;
  height: 2.8rem;
}

.btnPrimary {
  border-radius: 7px;
  background-color: var(--blue);
  box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
  color: #fff;
  font-family: var(--font-sans);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: -1px;
  margin: 10px 10px 10px 0;
  border: none;
  padding: 0 3.5rem;
  height: 2.8rem;
}

.heroImageContainer {
  width: 900px;
  max-width: 60%;
  position: relative;
}

.heroImage {
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
}

.heroImageUnoptimized {
  height: 100%;
  width: 100%;
  object-fit: cover;
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
}

/* Media queries */

@media screen and (max-width: 1024px) {
  .nav {
    width: 100%;
  }

  .heroTextContainer {
    padding: 50px;
  }

  .main {
    padding: 100px 0;
    flex-direction: column;
  }

  .heroImageContainer {
    width: 100%;
    position: relative;
    max-width: 100%;
    height: 600px;
  }

  .heroImage,
  .heroImageUnoptimized {
    clip-path: none;
  }

  .heroText {
    font-size: 42px;
    letter-spacing: -2px;
  }

  .heroSubtitle {
    font-size: 20px;
  }
}

@media screen and (min-width: 1800px) {
  .heroTextContainer {
    max-width: 700px;
    padding: 260px 0px 0 120px;
  }
}