.nav {
  padding: 2rem 0;
  width: 50%;
  margin: 0;
  font-weight: 500;
  justify-content: space-around;
  position: absolute;
  display: flex;
}

.logo {
  position: relative;
  bottom: 5px;
}

.navLink {
  opacity: 0.7;
}